body {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.header{
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
background-color: black;
color: white;
}

.course-title {
  font-family: serif;
  font-size: 20px;
  margin: 0px;
}

.page-title {
  margin: 0px 0px 0px 10%;
  font-size: 15px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-body{
  margin: 0px 10% 0px 10%;
  padding: 0px 0px 0px 0px;
}

.page-banner-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: black;
}

.page-banner{
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.info-container {
  border-color: lightgbray;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.info,
li {
font-size: 20px;
}

button {
background-color: deepskyblue;
border-style: none;
border-radius: 5px;
font-size: 20px;
padding: 5px;
}
